@font-face {
    font-family: fleuron-reg;
    src: url(../fonts/FleuronRegular.otf);
}
@font-face {
    font-family: fleuron-plant;
    src: url(../fonts/FleuronDingbats.otf);
}
@font-face {
    font-family: fleuron-mix;
    src: url(../fonts/FleuronMixed.otf);
}

