@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grain-bg {
        position: relative;
        overflow: hidden;
    }
}
.grain-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../video/noise.gif);
    opacity: .03;
    pointer-events: none;
    z-index: 10;
}

/* Define custom typefaces */
@font-face {
    font-family: nohemi;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Nohemi-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
    url(../fonts/Nohemi-Regular.woff) format('woff'), /* Older Browsers */
    url(../fonts/Nohemi-Regular.woff2) format('woff2'); /* Modern Browsers*/
}
@font-face {
    font-family: nohemi-bold;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Nohemi-VF.ttf); /* Variable Font */
}


@font-face {
    font-family: mango-grotesque-black;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/MangoGrotesque-Black.ttf), /* Safari, Android, iOS */
    url(../fonts/MangoGrotesque-Black.woff), /* Older Browsers */
    url(../fonts/MangoGrotesque-Black.woff2), /* Modern Browsers */
}
@font-face {
    font-family: mango-grotesque-bold;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/MangoGrotesque-Bold.ttf), /* Safari, Android, iOS */
    url(../fonts/MangoGrotesque-Bold.woff), /* Older Browsers */
    url(../fonts/MangoGrotesque-Bold.woff2), /* Modern Browsers */
}
@font-face {
    font-family: mango-grotesque-medium;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/MangoGrotesque-Medium.ttf), /* Safari, Android, iOS */
    url(../fonts/MangoGrotesque-Medium.woff), /* Older Browsers */
    url(../fonts/MangoGrotesque-Medium.woff2), /* Modern Browsers */
}

@font-face {
    font-family: fleuron;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/FleuronRegular.otf);
}


/* Styles */
.page-container {
    @apply grid h-screen mx-6 grid-cols-12
    bg-transparent
}

.header-layout {
    @apply grid grid-flow-row p-0 col-span-full 
    row-span-1 h-24 overflow-hidden
    bg-transparent mt-6 pt-3 text-white content-center
}

.header-main {
    @apply font-nohemi grid grid-flow-row gap-x-7 
col-start-1 col-span-4 text-xl  justify-around
text-cream
}

.heder-title {
    @apply col-span-1 col-start-1  text-wrap 
    justify-self-end content-end font-nohemi-bold text-5xl 
    text-cream
}

.header-current {
    @apply col-span-1 col-start-2 text-wrap
}

.header-location {
    @apply col-span-1 col-start-3 text-wrap 
}

.header-nav {
    @apply col-end-12 col-span-5 font-nohemi text-2xl grid grid-flow-row 
    justify-center content-end hover:underline text-cel-0
}

main {
    @apply h-screen bg-transparent col-span-full 
    mt-12
}

