@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grain-bg {
        position: relative;
        overflow: hidden;
    }
}
@layer utilities {
    .filter-grainy {
        filter: url('#grainy');
        @apply bg-dark;
    }
}

/* Define custom typefaces */
@font-face {
    font-family: nohemi;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Nohemi-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
    url(../fonts/Nohemi-Regular.woff) format('woff'), /* Older Browsers */
    url(../fonts/Nohemi-Regular.woff2) format('woff2'); /* Modern Browsers*/
}
@font-face {
    font-family: nohemi-bold;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Nohemi-VF.ttf); /* Variable Font */
}

@font-face {
    font-family: 'nikkei-pacific';
    src: url('PangramPangram.woff') format('truetype');
    font-weight: bold;
    src: url('../fonts/PPNikkeiPacific-Ultrabold.ttf');
    src: url('../fonts/PPNikkeiPacific-Ultrabold.woff2');
    src: url('../fonts/PPNikkeiPacific-Ultrabold.woff')
}

@font-face {
    font-family: 'neue-machina';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPNeueMachina-InktrapMedium.ttf),
    url(../fonts/PPNeueMachina-InktrapMedium.woff),
    url(../fonts/PPNeueMachina-InktrapMedium.woff2);
}

@font-face {
    font-family: 'telegraf-slant';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPTelegraf-BoldSlanted.ttf),
    url(../fonts/PPTelegraf-BoldSlanted.woff),
    url(../fonts/PPTelegraf-BoldSlanted.woff2);
}
@font-face {
    font-family: 'telegraf';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPTelegraf-Bold.ttf),
    url(../fonts/PPTelegraf-Bold.woff),
    url(../fonts/PPTelegraf-Bold.woff2);
}
@font-face {
    font-family: 'telegraf-reg';
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PPTelegraf-Regular.ttf),
    url(../fonts/PPTelegraf-Regular.woff),
    url(../fonts/PPTelegraf-Regular.woff2);
}



/* Scroll */
html{
    scroll-behavior: smooth;
}
/* Grainy Background for #hero */
#hero::before, header::before {
    position: absolute;
    left: 0; top: 0;
    content: '';
    width: 100%; height: 100%;
    opacity: 15%; /* Adjust for transparency */
    pointer-events: none;
    background: #000000;
    background: radial-gradient(circle at 50% 50%, rgba(27, 27, 27, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    filter: url(#grainy);
    z-index: -1;
}

/* Base Styles */
.page-container {
    @apply grid min-h-screen mx-7 grid-cols-12 grid-rows-[auto_1fr]
    bg-transparent
}
#hero {
    @apply row-span-full col-span-full grid grid-rows-[auto-auto] min-h-screen
}


/* Bigger styles */
.header-layout {
    @apply grid grid-flow-row col-span-full 
    row-span-1 h-24 overflow-hidden
    bg-dark pt-9 text-white content-center
    fixed top-0 left-0 right-0 z-50 p-[10px]
}
.header-spacer {
    @apply h-16
}
main {
    @apply bg-transparent col-span-full  mt-28 text-cream 
    grid gap-4 grid-cols-4 mx-10 min-h-screen 
}


/* Sections*/
#start{
    @apply bg-transparent grid gap-4 grid-rows-[1fr_auto]
    mx-10 min-h-full mb-14
}



/* <Header> divisions */
.header-main {
    @apply font-nohemi grid grid-flow-row gap-x-7 
col-start-1 col-span-4 text-xl  justify-around
text-cream
}
.header-nav {
    @apply col-end-12 col-span-5 font-nohemi text-xl grid grid-flow-row 
    justify-center content-end text-cel-0
}


/* .header-main objects */
.heder-title {
    @apply col-span-1 col-start-1  text-wrap 
    justify-self-end content-end font-nohemi-bold text-5xl 
    text-cream 
}
.header-current {
    @apply col-span-1 col-start-2 text-wrap
}
.header-location {
    @apply col-span-1 col-start-3 text-wrap 
}


/* <Main> divisions */
.description {
    @apply text-cel-0 text-xl font-neue-machina justify-start self-end
    col-span-2 ml-4 col-start-1 left-0 text-left w-[80%]  mb-10
}
.description-title {
    @apply text-cream text-4xl font-telegraf justify-start self-end
    col-span-1 ml-4 col-start-1 left-0 text-left -mb-2 -mt-10
}

.master {
    @apply text-yellow text-[1.5vw] font-nikkei-pacific justify-end
    col-start-4 content-end leading-none text-end align-middle
    h-11 self-end hover:cursor-none -mb-20 mr-8
}
.line {
    @apply block text-center self-start truncate col-span-4 text-cream leading-none
    font-telegraf-slant my-20
}


/* Hero text objects */
.word {
    @apply inline-block mr-5
}
.char {
    @apply inline-block translate-x-0 translate-y-0
text-[8vw] leading-none
}
.link1 {
    @apply text-yellow text-base
}

/* Tooltip */

.tooltip {
    @apply absolute peer-hover:flex hidden hover:flex bg-cream 
    text-jk text-base rounded-lg py-2 px-4 col-span-3 -top-32 right-0
    transform -translate-x-4 shadow-lg z-20 text-wrap min-w-[30vw] max-w-[50vw]
    max-h-44 font-telegraf-reg hover:cursor-none text-start
}


#parallax {
    background: url('https://lakshikawishwajth.com/wp-content/uploads/2024/03/ezgif.com-optimize-6.gif') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
#parallax {
@apply h-lvh 
}

@media (max-width: 768px) {
    #parallax-section {
        background-attachment: scroll;
    }
}